<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback/logback-base.xml" />

    <springProfile name="local">
        <include resource="logback/logback-local.xml" />
    </springProfile>
    <springProfile name="dev">
        <include resource="logback/logback-dev.xml" />
    </springProfile>
    <springProfile name="prod">
    </springProfile>
</configuration>
